
html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  display: flex;
  flex-direction: column;

  width: 300px;
  height: 400px;
  border-style: solid;
  border-width: 2px;
  border-color: gray;
}

.display {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  flex: 1;
}

.keypad {
  display: flex;
  flex: 5;
  background-color: gray;
}

.left {
  display: flex;
  flex-direction: column;
  flex: 3;
}

.top {
  display: flex;
  flex: 1;
}

.digits {
  display: flex;
  flex-direction: column-reverse;
  flex: 4;
}

.row {
  display: flex;
  flex: 1;
}

.operators {
  display: flex;
  flex-direction: column;
  flex: 1;
}

button {
  flex: 1;
}

.zero {
  flex: 40%;
}
