
html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Share Tech Mono', monospace;
  background-color: #423737;
}

.calculator {
  display: flex;
  flex-direction: column;

  min-width: 300px;
  min-height: 500px;

  background-color: gray;
  padding: 16px;
  border-radius: 16px;

  box-shadow: 8px 8px dimgray;
}

.display {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex: 1;

  background-color: aliceblue;
  border-radius: 8px;
  border-style: solid;
  border-color: darkslategrey;
  border-width: 4px;
  box-shadow: 4px 4px 2px inset darkslategrey;

  margin: 16px 16px 16px;
  padding: 8px 8px 0px;
}

.history {
  flex: 1;
  font-size: 24px;
  height: 24px;
}

.output {
  flex: 2;
  font-size: 40px;
}

.keypad {
  display: flex;
  flex: 5;
  background-color: gray;
}

.left {
  display: flex;
  flex-direction: column;
  flex: 3;
}

.top {
  display: flex;
  flex: 1;
}

.digits {
  display: flex;
  flex-direction: column-reverse;
  flex: 4;
}

.row {
  display: flex;
  flex: 1;
}

.operators {
  display: flex;
  flex-direction: column;
  flex: 1;
}

button {
  flex: 1;
  font-family: 'Share Tech Mono', monospace;
  font-size: 24px;
  border-style: none;
  border-radius: 16px;
  margin: 4px;
  text-decoration: none;
  text-align: center;
  box-shadow: 2px 4px lightgray;
}

button:active {
  box-shadow: 2px 2px black;
  transform: translate(2px, 4px);
}

.back,
.del,
.ac {
  background-color: darkred;
  color: aliceblue;
  box-shadow: 2px 4px #b94242;
}

.operator {
  color:midnightblue;
  background-color: steelblue;
  box-shadow: 2px 4px #5b94c2
}

.zero {
  flex: 39%;
}
